<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>MovieR8r</title>
</head>

<body>
    <h1>MovieR8r</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "movie : ${movies}">
                <td th:text="${movie.movieName}"></td>
                <td th:text="${movie.director}"></td>  
                <td th:text="${movie.year}"></td>
                <td th:text="${movie.genre.genreName}"></td>
                <td th:text="${movie.rating.rating}"></td>
                <td><a th:href="@{/deletemovie/{movieId}(movieId=${movie.movieId})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div><a th:href="@{/ratemovie}">Rate a movie!</a></div>
    <div><a th:href="@{/genres}">View genres</a></div>
    <div><a th:href="@{/addgenre}">Add a genre</a></div>

</body>

</html>