<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MovieR8r</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <h1 th:text="'All added ' + ${genre.genreName} + ' movies'"></h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>Rating</th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.movieName}"></td>
                <td th:text="${movie.director}"></td>
                <td th:text="${movie.year}"></td>
                <td th:text="${movie.rating.rating}"></td>
            </tr>
        </tbody>
    </table>

    <a href="/genres">Back to genres</a>

</body>

</html>