<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!--Shows all currently saved movies-->

<head>
    <meta charset="UTF-8" />
    <title>MovieR8r</title>
    <!--Could not get the CSS file  to work for some reason so all the styles are very unflatteringly in the head section-->
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>MovieR8r</h1>
    <div>Remember to log in for full functionality!</div>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Rating</th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.movieName}"></td>
                <td th:text="${movie.director}"></td>
                <td th:text="${movie.year}"></td>
                <td th:text="${movie.genre.genreName}"></td>
                <td th:text="${movie.rating.ratingValue}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/editmovie/{movieId}(movieId=${movie.movieId})}">Edit</a>
                </td>
                <td><a th:href="@{/moviedeleteconfirmation/{movieId}(movieId=${movie.movieId})}">Delete</a>
                    <!--Delete confirmation-->
                    <div th:if="${confirmMovieId} == ${movie.movieId}">
                        <span>Are you sure?</span>
                        <a th:href="@{/deletemovie/{movieId}(movieId=${movie.movieId})}">Yes</a>
                        <a href="/movies">No</a>
                    </div>
            </tr>
        </tbody>
    </table>
    <div><a th:href="@{/ratemovie}">Rate a movie!</a></div>
    <div><a th:href="@{/genres}">View genres</a></div>
    <div><a th:href="@{/ratings}">Filter movies by rating</a></div>


</body>

</html>