<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Thymeleaf template for viewing movies sorted by rating-->

<head>
    <meta charset="UTF-8" />
    <title>MovieR8r</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Filter movies by rating</h1>
    <table>
        <thead>
            <tr>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rating : ${ratings}">
                <td th:text="${rating.ratingValue}"></td>
                <!--View all movies by selected rating-->
                <td><a th:href="@{/moviesbyrating/{ratingId}(ratingId=${rating.ratingId})}">Movies</a></td>
            </tr>
        </tbody>
    </table>
    <div><a th:href="@{/movies}">Back to movies</a></div>

</body>

</html>